<!-- views/partials/footer.ejs -->
<footer>
    <p>&copy; <%= new Date().getFullYear() %> Rare Soccer Jerseys</p>
    <div class="social-media">
        <a href="#"><img src="/images/Facebook_Logo_2023.png" alt="Facebook"></a> <!-- Ensure this path is correct -->
        <a href="#"><img src="/images/new-twitter-logo-x-2023-twitter-x-logo-vector-download_691560-10794.jpg.avif" alt="Twitter"></a> <!-- Ensure this path is correct -->
        <a href="#"><img src="/images/Instagram_icon.png" alt="Instagram"></a> <!-- Ensure this path is correct -->

    </div>
</footer>
